<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Check Your Mangoes Health!</title>
</head>

<body>
    <h1>Check Your Mangoes Health!</h1>

    <section id="result-section">
        <div id="image-result">
            {% if img_path %}
            <h3>Checking Result</h3>
            <img src="{{ img_path }}" alt="Processed Image" style="display: block;">
            {% endif %}
        </div>

        <div id="text-result">
            {% if result %}
            <p>Tingkat Kematangan:<br> <span id="result-label">{{ result }}</span> with <span id="result-number">{{
                    confidence | round(2) }}% confidence</span></p>
            <a href="/">Reset for another image</a>
            {% endif %}
        </div>
    </section>

    <section>
        <form method="post" enctype="multipart/form-data" action="/result">

            <label for="images" class="drop-container" id="dropcontainer">
                <span class="drop-title">Drop files here</span>
                or
                <input type="file" name="file" id="images" accept="image/*" required>
                <span id="image-preview"></span>
                <img id="output" alt="Output Image">

            </label>
            <div id="submit-wrap">
                <a id="reset" href="/"></a>
                <button id="submit" type="submit"></button>
            </div>
        </form>
    </section>
</body>
<script type="text/javascript" src="../static/js/scripts.js"></script>

</html>