<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo Upload</title>
</head>
<body>
    <h1>Upload Photos</h1>
    <section>
        <form method="post" enctype="multipart/form-data" action="/"></form>
        <label id="preview">
            <img class="img-preview" src="{{ img_path }}">
            <input name="file" type="file" accept="image/*" required="">
          </label>
    
          <label for="submit">
            <input id="submit" name="file" type="submit" accept="image/*" required="">
          </label>
    </section>
</body>
</html>